<div class="row">
  <div class="col-6 offset-3">
    <h3 class="text-primary">Listado NG for</h3>

    <button type="button" (click)="setHabilitar()"
            class="btn btn-outline-danger my-3">{{ habilitar == true ? 'Ocultar' : 'Mostrar' }}</button>

    <div class="card" *ngIf="habilitar == true">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let item of listado">{{ item }}</div>
      </div>
    </div>

  </div>

  <div class="col-6 offset-3 my-3">
    <div class="card">
      <div class="card-body bg-info d-flex flex-column">
        <input (change)="num1($event)" id="sumar1" type="number" class="" ng-model=" sumar1 ">
        <i>+</i>
        <input (change)="num2($event)" id="sumar2" type="number" class="" ng-model=" sumar2 ">
      </div>
      <div class="card-foot bg-danger">
        <button (click)="sumar()"  class="btn btn-primary">SUMAR</button>
        <h4 class="card-resultado">{{ sumar1 + sumar2 }}</h4>
      </div>
    </div>
  </div>
</div>
