<div class="row">
  <div class="col-6 offset-3">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nomre</th>
          <th scope="col">Apellido</th>
          <th scope="col">email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id}}</td>
          <td> {{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
